body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e3f6ee;
}

/* ---- HEADER ---- */
header {
    background: #c9f3e5;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #0d774d;
}

.logo span {
    color: #4bd397;
}

.top-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-header {
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
}

.profile-icon {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
}

/* ---- CARD ---- */
main {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    background: linear-gradient(to bottom right, #b6d0c1, #d8e6db);
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.activity-img {
    width: 400px;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
}


h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* --- GRID BUTTONS --- */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    height: auto;
    max-width: 500px;
    margin: 0 auto 30px auto;
}

.btn {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: white;
    font-size: 18px;
    cursor: pointer;
}

.duration input {
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 16px;
}

.calculate {
    margin-top: 25px;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e3f6ee;
}

/* ---- HEADER ---- */
header {
    background: #66c275;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #0d774d;
}

.logo span {
    color: #4bd397;
}

.top-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-header {
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    background: white;
    cursor: pointer;
}
.btn-header:hover {
    background-color: rgb(191, 211, 193);
    animation-delay: 2s;
}

.profile-icon {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 50%;
}

/* ---- CARD ---- */
main {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    background: linear-gradient(to bottom right, #b6d0c1, #d8e6db);
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
}

.activity-img {
    width: 400px;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
}


h1 {
    font-size: 32px;
    margin-bottom: 30px;
}

/* --- GRID BUTTONS --- */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    height: auto;
    max-width: 500px;
    margin: 0 auto 30px auto;
}

.btn {
    padding: 15px;
    border: none;
    border-radius: 15px;
    background: white;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(191, 211, 193);
    animation-delay: 2s;
}

.duration input {
    width: 200px;
    padding: 12px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 16px;
}

.calculate {
    margin-top: 25px;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}
.calculate:hover {
    background-color: rgb(191, 211, 193);
    animation-delay: 2s;
}

.rappel {
    padding: 20px 55px;
    font-size: 25px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}

.rappel:hover {
    background-color: rgb(191, 211, 193);
    animation-delay: 2s;
}

.medics-img {
    width: 400px;
    height: 100px;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.caseJour {
    color: #0d774d;
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #b6d0c1, #d8e6db);;
    font-size: 18px;
    font-weight: bold;
}